.colorSelectWrap
  .colorInput
    span.colorValue Color
    span.fa.fa-angle-down(style='float:right; margin-right: 5px;')
  .colorOptionsWrap
    #iPhoneX.colorOption.fa.fa-circle.white(color='white') iPhoneX &nbsp;
    #iPhone8.colorOption.fa.fa-circle.black(color='black') iPhone8 &nbsp;
    #iPhone8Plus.colorOption.fa.fa-circle.red(color='red') Phone8Plus &nbsp;
    #iPhone7.colorOption.fa.fa-circle.green(color='green') iPhone7 &nbsp;
    #iPhone7Plus.colorOption.fa.fa-circle.blue(color='blue') iPhone7Plus &nbsp;
    #iPhone6.colorOption.fa.fa-circle.purple(color='purple') iPhone6 &nbsp;
    #iPhone6s.colorOption.fa.fa-circle.pink(color='pink') iPhone6s &nbsp;
    #iPhone6Plus.colorOption.fa.fa-circle.orange(color='orange') iPhone6Plus &nbsp;
    #iPhone6sPlus.colorOption.fa.fa-circle.yellow(color='yellow') iPhone6sPlus &nbsp;