.colorSelectWrap
  .colorInput
    span.colorValue Color
    span.fa.fa-angle-down(style='float:right; margin-right: 5px;')
  .colorOptionsWrap
    #white.colorOption.fa.fa-circle.white(color='white') iPhoneX &nbsp;
    #black.colorOption.fa.fa-circle.black(color='black') iPhone8 &nbsp;
    #red.colorOption.fa.fa-circle.red(color='red') Phone8+ &nbsp;
    #green.colorOption.fa.fa-circle.green(color='green') iPhone7 &nbsp;
    .colorOption.fa.fa-circle.blue(color='blue') iPhone7+ &nbsp;
    .colorOption.fa.fa-circle.purple(color='purple') iPhone6 &nbsp;
    .colorOption.fa.fa-circle.pink(color='pink') iPhone6s &nbsp;
    .colorOption.fa.fa-circle.orange(color='orange') iPhone6+ &nbsp;
    .colorOption.fa.fa-circle.yellow(color='yellow') iPhone6s+ &nbsp;